<div class="beer-card">
<img src="{{image_url}}" alt="">
    <div class="beer-txt">
        <a href="/beers/{{id}}"><h2>{{name}}</h2></a>
            <div class="beer-text">
            <p class="desc">{{description}}</p>
            <p class="tag">{{tagline}}</p>
    </div>
    </div>
</div>