<img src="{{this.image_url}}" alt="beer image">
<h2>Hello, my name is {{this.name}}</h2>
<p>{{this.description}}</p>
<h3>Food Pairing:</h3>
<h3>Tagline</h3>
<p>{{this.tagline}}</p>
<p>{{this.food_pairing}}</p>
<h3>Brewers Tips:</h3>
<p>{{this.brewers_tips}}</p>